<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" alt="">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore dolore, sit atque est maiores ipsam, quia quas vitae doloribus. Delectus expedita natus alias fugit odit distinctio asperiores molestias, tenetur numquam.</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" alt="">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore dolore, sit atque est maiores ipsam, quia quas vitae doloribus. Delectus expedita natus alias fugit odit distinctio asperiores molestias, tenetur numquam.</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" alt="">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore dolore, sit atque est maiores ipsam, quia quas vitae doloribus. Delectus expedita natus alias fugit odit distinctio asperiores molestias, tenetur numquam.</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" alt="">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore dolore, sit atque est maiores ipsam, quia quas vitae doloribus. Delectus expedita natus alias fugit odit distinctio asperiores molestias, tenetur numquam.</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" alt="">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore dolore, sit atque est maiores ipsam, quia quas vitae doloribus. Delectus expedita natus alias fugit odit distinctio asperiores molestias, tenetur numquam.</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" alt="">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore dolore, sit atque est maiores ipsam, quia quas vitae doloribus. Delectus expedita natus alias fugit odit distinctio asperiores molestias, tenetur numquam.</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>
